In [1]:
import pandas as pd
import geopandas as gpd
import config as cfg

In [2]:
df = pd.read_csv('outputs/amenity_density_by_district.csv')

In [ ]:
nombres_distritos = pd.read_csv(cfg.ZONIFICACION_DATA / 'distritos/PROCESSED_nombres_distritos.csv')
gdf = gpd.read_file(cfg.ZONIFICACION_DATA / 'distritos/madrid_gdf.geojson')
renta = pd.read_csv('data/raw/indicadores_renta_2_2021.csv', sep=';') # SOURCE = https://ine.es/jaxiT3/Datos.htm?t=31097

renta['ID'] = renta['Distritos'].str[:7]
renta.drop(columns=['Distritos', 'Municipios', 'Secciones'], inplace=True)

renta_pivot = renta.pivot(index='ID', columns='Indicadores de renta media y mediana', values='Total').reset_index()
renta_pivot.columns.name = None  # Remove the column grouping label
renta_pivot['ID'] = renta_pivot['ID'].astype('int64')
gdf['ID'] = gdf['ID'].astype('int64')

merged = pd.merge(renta_pivot, gdf, on='ID', how='inner') # merging the income and geography data into one gdf
merged = gpd.GeoDataFrame(merged, geometry='geometry')
merged = merged.set_crs(gdf.crs)

In [3]:
df

         ID  num_amenities  area_sq_km  amenity_density
0   2807901           3489        5.21           669.67
1   2807902            810        6.56           123.48
2   2807903            608        5.37           113.22
3   2807904           1090        5.40           201.85
4   2807905            955        9.18           104.03
5   2807906            992        5.37           184.73
6   2807907           1401        4.68           299.36
7   2807908           1201      237.89             5.05
8   2807909            924       46.57            19.84
9   2807910           1107       25.43            43.53
10  2807911            938       14.06            66.71
11  2807912            314        7.75            40.52
12  2807913            633       14.96            42.31
13  2807914            309        6.10            50.66
14  2807915            996       11.44            87.06
15  2807916            610       27.45            22.22
16  2807917            404       20.17            20.03
17  2807918            358       51.46             6.96
18  2807919            276       35.31             7.82
19  2807920            528       22.21            23.77
20  2807921            316       41.89             7.54

In [4]:
gdf.head()

,ID,Media de la renta por unidad de consumo,Mediana de la renta por unidad de consumo,Renta bruta media por hogar,Renta bruta media por persona,Renta neta media por hogar,Renta neta media por persona,geometry
0,2807901,26.442,20.65,49.775,24.911,38.360,19.199,"POLYGON ((440598.916 4473021.501, 440521.387 4..."
1,2807902,29.303,26.25,59.671,25.687,46.699,20.103,"POLYGON ((441868.350 4470574.975, 441687.915 4..."
2,2807903,35.706,30.45,75.689,31.523,57.448,23.925,"POLYGON ((443284.243 4472327.462, 443199.459 4..."
3,2807904,39.424,29.75,82.900,35.734,60.217,25.956,"POLYGON ((441815.427 4474666.996, 441573.366 4..."
4,2807905,43.930,32.55,97.093,39.346,69.670,28.233,"POLYGON ((443449.166 4477025.984, 443310.072 4..."